<div class="row">
  <div class="col-sm-8">
    <p>
      <span class="text-nowrap">&copy; 2012–2015 Food Standards Scotland</span> |
      <span class="text-nowrap">&copy; 2012–2018 Newcastle University</span> |
      <span class="text-nowrap">&copy; 2019 University of Cambridge</span>
    </p>
    <p>
      <a class="text-nowrap" href="/privacy">Privacy policy</a> |
      <a class="text-nowrap" href="/terms">Terms and conditions</a>
    </p>
  </div>
  <div class="col-sm-4 text-right">
    <div class="logo">
      <a href="https://openlab.ncl.ac.uk/"><img src="/images/nu_logo.png" title="Newcastle University"></a>
    </div>
    <div class="logo">
      <a href="http://www.foodstandards.gov.scot/"><img src="images/fss-logo-small.png"
        title="Food Standards Scotland">
      </a>
    </div>
  </div>
</div>
