{% import "mail/layouts/elements.njk" as elements %}

{% extends "mail/layouts/layout.njk" %}
{% block body %}
<p>Hello,</p>
<p>Someone has requested your help with recall, please see details below.</p>
<p>
  <strong>Study:</strong> {{ surveyName }}<br>
  <strong>Username:</strong> {{ username }}
</p>
<p>
  <strong>Name:</strong> {{ name }}<br>
  {% if email %}
  <strong>Email:</strong> {{ email }}<br>
  {% endif %}
  {% if phone %}
  <strong>Phone:</strong> {{ phone }}
  {% endif %}
</p>
{% if message %}
  <p>
  <strong>Message:</strong><br>
  {{ message }}
</p>
{% endif %}
<p>
Kind regards,<br />
{{ app.name }} Team
</p>
{% endblock %}
