{% extends "mail/layouts/layout.njk" %}
{% block body %}
<p>Dear Participant,</p>
<p>Please find attached your feedback based on the recalls you have completed using Intake24.</p>
<p>You can revisit your feedback here.</p>
{% include "mail/partials/action-button.njk" %}
<p>
Kind regards,<br />
Intake24 Team
</p>
{% endblock %}
