@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600&subset=latin-ext');

$fa-font-path: '../public/vendor/fontawesome-free';

$fa-font-size-base: 18px;
$fa-fw-width: (18em / 18);

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

.fa, .fas, .far, .fab {
    font-size: $fa-font-size-base !important;
}
