[Unit]
Description=Intake24 Admin site
After=network.target

[Service]
Type=simple
User={{ app.user }}
Group={{ app.group }}
Restart=on-failure
WorkingDirectory={{ app.directory }}/admin-client
ExecStart=/usr/bin/node server/index.js

[Install]
WantedBy=multi-user.target
