[Unit]
Description=Intake24 API Server
After=network.target

[Service]
Type=simple
User={{ app.user }}
Group={{ app.group }}
Restart=on-failure
WorkingDirectory={{ app.directory }}/api-server
ExecStart=/usr/bin/node dist/server.js

[Install]
WantedBy=multi-user.target
