[Unit]
Description=Intake24 Portal
After=network.target

[Service]
Type=simple
User={{ env.user }}
Group={{ env.group }}
Restart=on-failure
WorkingDirectory={{ env.directory }}/apps/portal
ExecStart=/usr/bin/node dist/server.js

[Install]
WantedBy=multi-user.target
