[Unit]
Description=Intake24 API Server
After=network.target

[Service]
Type=simple
User={{ app.user }}
Group={{ app.group }}
Restart=on-failure
WorkingDirectory={{ app.directory }}/apps/api
ExecStart=/usr/bin/pm2 start ecosystem.config.js

[Install]
WantedBy=multi-user.target
