@use 'sass:map';
@use 'settings';
@use 'variables';

// Libs
@use 'fontawesome';
@use 'flags';

// Components
@use 'time-picker';

// Not padded sidebar
.v-list-group__items .v-list-item {
  padding-inline-start: 8px !important;
}

.list-border {
  .v-list-item:not(:last-child) {
    border-bottom: 1px solid map.get(settings.$grey, 'lighten-3');
  }
}

.list-item-border:not(:last-child) {
  border-bottom: 1px solid map.get(settings.$grey, 'lighten-3');
}

// Drag & drop lists
.drag-and-drop__handle {
  cursor: move;
}

.drag-and-drop-move,
.drag-and-drop-enter-active,
.drag-and-drop-leave-active {
  transition: all 0.5s ease;
}

.drag-and-drop-enter-from,
.drag-and-drop-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.drag-and-drop-leave-active {
  position: absolute;
}

ul.v-breadcrumbs {
  padding-left: 12px;
}

.v-breadcrumbs--large {
  font-weight: 600;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}
