@import 'vuetify/src/styles/styles.sass';

// Libs
@import "fontawesome";
@import "flags";

.list-bordered {
  >:not(:last-child) {
    border-bottom: 1px solid map-get($grey, 'lighten-3');
  }
}

.list-item-border {
  &:not(:last-child) {
    border-bottom: 1px solid map-get($grey, 'lighten-3');
  }
}

// Drag & drop lists
.drag-and-drop__item {
  &:not(:last-child) {
    border-bottom: 1px solid map-get($grey, 'lighten-3');
  }

  .drag-and-drop__handle {
    cursor: move;
  }
}

.drag-and-drop-move,
.drag-and-drop-enter-active,
.drag-and-drop-leave-active {
  transition: all 0.5s;
}

.drag-and-drop-enter,
.drag-and-drop-leave-to {
  opacity: 0;
  transform: translateX(200px);
}

ul.v-breadcrumbs {
  padding-left: 12px;
}

.v-breadcrumbs--large {
  font-weight: 600;
}
