@use 'flag-icons/sass/flag-icons' as flags with (
  $flag-icons-path: 'flag-icons/flags',
  $flag-icons-use-square: false
);

.fi-en {
  background-image: url(#{flags.$flag-icons-path}#{flags.$flag-icons-rect-path}/gb.svg);
}
