$body-font-family: 'Open Sans', sans-serif;

$material-light: (
  'background': #f5f5f5,
);

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 600,
  'bold': 700,
  'black': 900
);

$fab-icon-sizes: (
  'x-small': 16,
  'small': 18,
  'default': 20,
  'large': 28,
  'x-large': 32
);

$btn-font-weight: 600;

$breadcrumbs-item-large-font-size: 20px;
$breadcrumbs-padding: 18px 6px;

$icon-size: 20px;
$icon-size-dense: 18px;
