<div class="row">
  <div class="col-sm-8">
    <p>
      <span class="text-nowrap">&copy; 2012-2015 Food Standards Scotland</span> |
      <span class="text-nowrap">&copy; 2012-2019 Newcastle University</span> |
      <span class="text-nowrap">&copy; 2019-{{ year }} Cambridge University</span>
    </p>
    <p>
      <a class="text-nowrap" href="https://www.cam.ac.uk/about-this-site/privacy-policy" target="_blank">Privacy policy</a> |
      <a class="text-nowrap" href="https://www.cam.ac.uk/about-this-site/terms-and-conditions" target="_blank">Terms and conditions</a> |
      <a class="text-nowrap" href="/open-source">Credits</a>
    </p>
  </div>
  <div class="col-sm-4 text-justify">
    <p class="small">
      Intake24 was developed by Newcastle University, originally with funding from Food Standards Scotland
      and is licenced under the
      <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence" target="_blank">
        Open Government Licence.
      </a>
      This version of Intake24 is provided and adapted by the University of Cambridge,
      based on the original, with technical advisory input from Newcastle University.
    </p>
  </div>
</div>
