{% extends "layout.njk" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Privacy policy</h2>
      <p>The following page explains what personal information is gathered when you visit the University’s central
      website (www.cam.ac.uk) and details how this information is used:
      <a href="https://www.cam.ac.uk/about-this-site/privacy-policy" target="_blank">
        https://www.cam.ac.uk/about-this-site/privacy-policy.
      </a>
      </p>
      <p>Further information is provided below about how we use your personal information for research.</p>

      <h4>How we use your personal information (for research participants)</h4>
      <p>You will have already been given information (for example on a participant information sheet or a consent form)
      in connection with your participation in a research study or project run by academic researchers
      at the University of Cambridge and our collaborators. The below information – which we are obliged to supply you
      with – applies to all studies and projects that we run. In the unlikely event that there is any contradiction
      between this general information and the specific information that you have already been given, the specific
      information takes precedence.
      </p>

      <h4>Who will process my personal information?</h4>
      <p>The information published here applies to the use of your personal information by the University of Cambridge
      (<a href="http://www.cam.ac.uk" target="_blank">http://www.cam.ac.uk</a>), including its Departments,
      Institutes and Research Centres/Units. You have already been told if you are participating in a research study
      that the University is running jointly with other organisations, such as other universities or hospitals.
      </p>
      <p>You have already been told about the types of personal information we will use in connection with the specific
      research study or project you are participating in and (where applicable) its sources, any data sharing or
      international transfer arrangements, and any automated decision-making that affects you.
      </p>

      <h4>What is the purpose and legal basis of the processing?</h4>
      <p>In general terms, we use your personal information (including, where appropriate, sensitive personal information)
      to carry out academic and/or translational research in the public interest.</p>
      <p>On rare occasions, we may have asked for your consent to use your personal information for research purposes.
      If we asked for your consent, you can withdraw this at any time; you should have already been told how to do
      this but if not, or if you are in doubt, please use the contact details below. Please note that your consent
      to use your personal information (which we rarely request) is separate from your ethical consent to participate
      in a particular research study (which we usually request for relevant types of research).
      </p>
      <p>You are not legally or contractually obliged to supply us with your personal information for research purposes.</p>

      <h4>How can I access my personal information?</h4>
      <p>Various rights under data protection legislation, including the right to access personal information that
      is held about you, are qualified or do not apply when personal information is processed solely in a research
      or archival context. This is because fulfilling them might adversely affect the integrity of, and the public
      benefits arising from, the research study or project.
      </p>
      <p>The full list of (qualified or inapplicable) rights is: the right to access the personal information that
      is held about you by the University (further details are published at
      <a href="https://www.information-compliance.admin.cam.ac.uk/data-protection/subject-access-request" target="_blank">
      https://www.information-compliance.admin.cam.ac.uk/data-protection/subject-access-request</a>),
      the right to ask us to correct any inaccurate personal information we hold about you, to delete personal
      information, or otherwise restrict our processing, or to object to processing (including the receipt of
      direct marketing) or to receive an electronic copy of the personal information you provided to us.
      </p>
      <p>If you have any questions regarding your rights in this context, please use the contact details below.</p>

      <h4>How long is my information kept?</h4>
      <p>You have already been told about the long-term use (and, where applicable, re-use) and retention of your
      personal information in connection with the specific research study or project you are participating in.
      General information about how long different types of information are retained by the University is published
      at <a href="https://www.information-compliance.admin.cam.ac.uk/records-management" target="_blank">
      https://www.information-compliance.admin.cam.ac.uk/records-management</a>.
      </p>

      <h4>Who can I contact?</h4>
      <p>If you have any questions about the particular research study you are participating in, please use any contact
      details you have already been supplied with.
      </p>
      <p>If you have any general questions about how your personal information is used by the University,
      or wish to exercise any of your rights, please consult the University’s data protection webpages
      at <a href="https://www.information-compliance.admin.cam.ac.uk/data-protection" target="_blank">
      https://www.information-compliance.admin.cam.ac.uk/data-protection</a>.
      If you need further assistance, please contact the University’s data protection team
      (<a href="mailto:data.protection@@admin.cam.ac.uk">data.protection@@admin.cam.ac.uk)</a>
      or its Data Protection Officer (<a href="mailto:dpo@@admin.cam.ac.uk">dpo@@admin.cam.ac.uk</a>).
      </p>

      <h4>How do I complain?</h4>
      <p>If you are not happy with the way your information is being handled, or with the response received from us,
      you have the right to lodge a complaint with the Information Commissioner’s Office at Wycliffe House, Water Lane,
      Wilmslow, SK9 5AF (https://ico.org.uk/).</p>

      <h4>Are changes made to this webpage?</h4>
      <p>This webpage was last reviewed in October 2019. It is reviewed when necessary and at least annually.
      Any changes will be published here.
      </p>
    </div>
  </div>
{% endblock %}