{% extends "layout.html" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Dietary recall</h2>

      <p>A traditional dietary recall is a method of dietary assessment based on a face-to-face interview conducted by
      specifically trained personnel. During the interview, an individual is asked to recall their food and beverage
      consumption during the previous day.</p>
      <p>
      Often the interviewer will apply the <em>multiple pass recall (MPR)</em> approach, which consists of a free and
      uninterrupted recall of the food intake, followed by detailed questions such as asking about the exact quantities
      consumed and finally a review of things that were previously recalled. The interviewer may ask guiding questions
      that are not directly related to the food intake, but are meant to refresh the respondent's memory, such as the
      circumstances or location of consumption. This often helps the respondent to remember additional foods that could
      have otherwise been omitted. The interviewer identifies the foods reported by the respondent such that an
      appropriate entry can be selected from the standard food database in order to calculate the nutrient intake based
      on the portion size.
    </p>
      <p>
      A single 24-hour recall is not considered to be representative of habitual diet of an individual (<em>“A
      comparison of four dietary assessment methods in materially deprived households in England”</em>, Holmes et al, 2008).
      Repeated 24-hour recalls can be used to assess a typical diet. This form of survey is known as multiple recalls.
    </p>
      <p>
      In the study conducted by Holmes et al, four 24-hour recalls were recommended to gather enough information for it
      to be representative. In another Australian study, eight repeat 24-hour recalls were recommended to capture the
      variation in macro-nutrient intake (<em>“Minimizing random error in dietary intakes assessed by 24-h recall,
      in overweight and obese adults”</em>, Jackson et al., 2008).
    </p>
      <p>Taking into account the apparent necessity for multiple recalls, it is clear that this process may be costly
      for the organisation conducting the study if done traditionally even when working with relatively small local
      groups, but is even more pronounced if a need arises to conduct a nation-wide nutritional survey (i.e., thousands
      of respondents) at some point. Unless automated, such a survey would require regular contacts with each respondent
      resulting in extremely high personnel costs, which pushes the need for a flexible automated system for
      self-completed recall surveys.</p>
      <p>
      Previous studies (<em>“Validity of a multipass, web-based, 24-hour self-administered recall for assessment of
      total energy intake”</em> by Arab et al., 2011; <em>“Comparison of a web-based versus traditional diet recall
      among children”</em> by Baranowski et al., 2012) have shown that automated recall systems are able to produce
      satisfactory accuracy of data gathered and are comparable in that regard to the traditional face-to-face interview
      techniques, while being much less costly to support. Advantages of an automated system include:
      </p>
      <ul>
        <li>Ability to repeat the recall as many times as necessary without incurring additional costs;</li>
        <li>Ability to conduct large scale, nation-wide studies with thousands of respondents without organisational
      and logistical complications;</li>
        <li>Possibility of having several surveys running simultaneously;</li>
        <li>Very high flexibility of data transformation and analysis (all data is stored in an electronic database);</li>
        <li>Less pressure on the respondent due to lack of privacy. In a traditional recall the respondents could feel
      embarrassed telling the interviewer about foods that are considered unhealthy and might deliberately omit
      something. This is less likely to happen in an impersonal environment. The interviewer could also inadvertently
      discourage the respondent with disapproving tone or facial expressions, and this possibility is also eliminated in
      the automatic recall.</li>
      </ul>
    </div>
  </div>
{% endblock %}