{% extends "layout.html" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Web application &amp; API server source code</h2>
      <p style="margin-top: 3em">The Intake24 web application and API server source code is open source. Sharing is under
        <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache license</a>.
        The UK food database is available under the terms of the
        <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/open-government-licence/" target="_blank">
        Open Government Licence</a>.
      </p>

      <p style="margin-top: 3em">Contact us for further information: <a href="mailto:{{ support.email }}">{{ support.email }}</a>.</p>
    </div>
  </div>
{% endblock %}