<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <meta name="description" content="<%- title %>">
    <link rel="icon" href="/icons/icon.ico" sizes="any">
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180x180.png">    
    <link rel="mask-icon" href="/icons/icon.svg" color="<%- themeColor %>">
    <meta name="theme-color" content="<%- themeColor %>">
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <%- captcha %>
  </body>
</html>
