{% extends "layout.html" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Terms & Conditions</h2>
      <p>This version of Intake24 is managed and provided by Cambridge University.
      Please see the Terms and Conditions of Use for the University’s website.
      </p>

      <h4 class="text-center" style="margin-top: 2em">
        <a href="https://www.cam.ac.uk/about-this-site/terms-and-conditions" target="_blank">
                https://www.cam.ac.uk/about-this-site/terms-and-conditions</a>
      </h4>

      <h4 style="margin-top: 2em">Contact Information</h4>
      <p>Should you have any questions about Intake24, you may contact us at
        <a href="mailto:@supportEmail">@supportEmail</a>.
      </p>
    </div>
  </div>
{% endblock %}