:root {
  --vp-c-accent: #f68623;
  --vp-c-brand: #EE672D;
  --vp-c-brand-light: #f3946b;
  --vp-c-brand-lighter: #f18557;
  --vp-c-brand-dark: #c4460f;
  --vp-c-brand-darker: #de4f12;
}

a {
  font-weight: 600;
}
