:root {
  --vp-c-accent: #FF6D00;
  --vp-c-brand: #EF6C00;
  --vp-c-brand-light: #FB8C00;
  --vp-c-brand-lighter: #F57C00;
  --vp-c-brand-dark: #E65100;
  --vp-c-brand-darker: #E65100;
}

a {
  font-weight: 600;
}