{% extends "layout.njk" %}

{% block body %}
  <div class="row">
    <div class="col-md-8">
      <h2>Contact us</h2>
      <p>If you have any questions or if you would like to use Intake24 to run a survey please contact us using the following e-mail. If you are a research participant, please tell us the name of the study when you get in touch.</p>
      <p>
        <a href="mailto:{{ support.email }}">{{ support.email }}</a>
      </p>
    </div>
  </div>
{% endblock %}