{% extends "layout.njk" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Contact us</h2>
      <p>If you have any questions or if you would like to use Intake24 to run a survey please contact us using the
      following e-mail:</p>
      <p>
        <a href="mailto:{{ support.email }}">{{ support.email }}</a>
      </p>
    </div>
  </div>
{% endblock %}