{% extends "layout.njk" %}

{% block body %}
  <div class="row">
    <div class="col-md-8">
      <ul class="dash">
        <li>
          <em>“I think this was a really good idea not only for you but for me as well as I got to see the
                reality of what u eat on a everyday basis”</em>
        </li>
        <li>
          <em>“I was actually surprised at how simple the design was, after using programs to track calories
                like My Fitness Pal, I found this to be refreshing”</em>
        </li>
        <li>
          <em>“Fantastic, easy to use!”</em>
        </li>
      </ul>
      <h2>Participant feedback</h2>
      <p>Feedback from participants in the field test of INTAKE24 in those aged 11+ years (up to and including older
            adults) showed the majority of people found the system user-friendly, enjoyable to use and felt it accurately
            captured their dietary intake.</p>
      <p>
        <img class="img-feedback" src="/img/feedback1.png">
      </p>
      <p>
        <img class="img-feedback" src="/img/feedback2.png">
      </p>
      <p>
        <img class="img-feedback" src="/img/feedback3.png">
      </p>
    </div>
  </div>
{% endblock %}