{% extends "layout.njk" %}

{% block body %}
  <div class="row">
    <div class="col-md-4">
      <h2>What is dietary recall?</h2>
      <p>A dietary recall is a method of dietary assessment based on a face-to-face interview conducted by
      specifically trained personnel. During the interview, an individual is asked to recall their food and beverage
      consumption during the previous day.</p>
      <p>
        <a class="btn btn-outline-secondary" href="/recall" role="button">Read more &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>System features</h2>
      <p>Online 24-hour dietary recall. Under 20 minutes average completion time. High tolerance to spelling mistakes.
      Accurate image-based portion size estimation. Automated coding to nutrient data. Instant availability of nutrient
      reports.</p>
      <p>
        <a class="btn btn-outline-secondary" href="/features" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Food database</h2>
      <p>Over 2800 foods with carefully selected automated portion size estimation methods. More than 2500 portion
      size images which have been extensively validated in a feeding study and against 4-day weighed diaries.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>System output</h2>
      <p>Data are output in spreadsheet format for easy manipulation and analysis. Nutrient intake can be output as
      soon as the participant has finished entering their data. Data output includes food groups, energy, macro- and
      micronutrients.</p>
      <p>
        <a class="btn btn-outline-secondary" href="/output" role="button">See example &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Validation</h2>
      <p>Newcastle University conducted a comparison of Intake24 with interviewer-led recalls was conducted in 180 people.
      Intake24 was found to under-estimate energy intake by just 1% on average. Mean intakes of all macronutrients
      and micronutrients (except non-milk extrinsic sugars) were within 4% of the interviewer-led recall.</p>
      <p>
        <a class="btn btn-outline-secondary" href="/validation" role="button">Read more &raquo;</a>
      </p>
    </div>

    <div class="col-md-4">
      <h2>Open-source</h2>
      <p>
          Intake24 source code is available under the terms of the <a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache
      License</a>. The food database, including food definitions, portion size photographs and nutrient data is available
      under the terms of the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" target="_blank">Open
      Government License.</a>
      </p>
      <p>
        <a class="btn btn-outline-secondary" href="/open-source" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Local adaptations</h2>
      <p>Intake24 offers full support for localisation and internationalisation of both the user interface and the
      food database.</p>
      <p>
        <a class="btn btn-outline-secondary" href="/localisation" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Publications</h2>
      <p>Studies and research papers published by the Intake24 team.</p>
      <p>
        <a class="btn btn-outline-secondary" href="/publications" role="button">View publications &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Participant feedback</h2>
      <p>Feedback from participants in the field test of Intake24 in those aged 11+ years (up to and including older
      adults).</p>
      <p>
        <a class="btn btn-outline-secondary" href="/feedback" role="button">View feedback &raquo;</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Contact us</h2>
      <p>If you have any questions or if you would like to use Intake24 to run a survey please contact us using the
        following e-mail.If you are a research participant, please tell us the name of the study when you get in touch.
      </p>
      <p>
        <a href="mailto:{{ site.support.email }}">{{ site.support.email }}</a>
      </p>
    </div>
  </div>
{% endblock %}
