<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Intake24 - web-based 24 hour dietary recall system">
    <meta name="keywords" content="intake24, diet, dietary, recall, nutrition, calories, food, 24 hour, twenty four hour">
    <link rel="canonical" href="https:/intake24.org">
    <meta property="og:title" content="Intake24">
    <meta property="og:description" content="Intake24 - web-based 24 hour dietary recall system">
    <meta property="og:url" content="https:/intake24.org">
    <meta name="twitter:title" content="Intake24">
    <meta name="copyright" content="Newcastle University & University of Cambridge">
    <meta name="author" content="Newcastle University & University of Cambridge"/>
    <link rel="icon" href="/img/icon.ico" sizes="any">
    <link rel="icon" href="/img/icon.svg" type="image/svg+xml">
    {{ vite('resources/scss/site.scss')|safe }}
    <title>Intake24</title>
    <!-- Google tag (gtag.js) -->
    {% if site.googleAnalyticsId %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleAnalyticsId }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.googleAnalyticsId }}');
      </script>
    {% endif %}
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-light navbar-expand-md navbar-fixed-top">
      <div class="container-md">
        <a class="navbar-brand" href="/">Intake24</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/recall">Dietary recall</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Features
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/features">System features</a>
              <a class="dropdown-item" href="/open-source">Open Source</a>
              <a class="dropdown-item" href="/output">System output</a>
              <a class="dropdown-item" href="/validation">Validation</a>
              <a class="dropdown-item" href="/localisation">Localisation</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Participant feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contacts</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <div class="jumbotron home-banner mb-5">
      <div class="container-md">
        <h1>Welcome to Intake24</h1>
        <p>
          Intake24 is an open-source self-completed computerised dietary recall system based on
          multiple-pass 24-hour recall. The online system offers similar data quality to
          interviewer-led recalls at a significantly lower cost.
        </p>
        <p>
          <a class="btn btn-success btn-lg" href="{{ site.demoURL }}" role="button" target="_blank" rel="noopener noreferrer">Try a demo &raquo;</a>
          <a class="btn btn-success btn-lg" href="{{ site.videoURL }}" role="button" target="_blank" rel="noopener noreferrer">
            Watch a video &raquo;
          </a>
        </p>
      </div>
    </div>

    <div id="content" class="container-md">
      {% block body %}{% endblock %}
      <hr>
      <footer class="small">
        {% include site.content + "/footer.njk" %}
      </footer>
    </div>

    {{ vite('resources/ts/site.ts')|safe }}
  </body>
</html>
