{% extends "layout.njk" %}

{% block body %}
  <div class="row">
    <div class="col-md-8">
      <h2>Localisation and internationalisation</h2>
      <p>Intake24 offers full support for localisation and internationalisation of both the user interface and the
      food database.</p>
      <p>The user interface supports translation of all labels, prompts and contextual help messages. RTL languages
      such as Arabic are also supported.</p>
      <p>The food database is designed to be very flexible with respect to localisation. Local food databases can be
      made as simple as overriding some foods in another reference local database, or defining a completely different set
      of foods.</p>
      <p>Intake24 provides an online collaborative editing tool for authoring localisations, as well as a complete API
      for automated data upload.</p>

      <h2>Local adaptations and use of the system</h2>

      <p>Intake24 has been widely used in many research projects and has been adapted by Newcastle University for use
      in New Zealand, and adapted and translated for use in Portugal, Denmark, the UAE and Australia. Currently
      Intake24 is being adapted by Cambridge University for use in large study of south Asian populations across
      five countries, Sri Lanka, Bangladesh, India, Pakistan and the UK. </p>
      <p>Intake24 has been field tested in a sample of the Scottish population to gain feedback on the system
      and identify areas of development and has been validated against Doubly-labelled water in a study
      by University of Cambridge (publication pending). It is also being piloted in the Scottish Health Survey.</p>
      <p>Intake24 has been developed and adapted for introduction in the UK National Diet and Nutrition Survey
      Rolling Programme from October 2019.
      <a href="https://www.gov.uk/government/collections/national-diet-and-nutrition-survey">
        (https://www.gov.uk/government/collections/national-diet-and-nutrition-survey)</a>
      </p>

      <p>Some of the many research projects that have used (or are currently using) Intake24 to assess dietary intake
      include:</p>
      <ul>
        <li>The BBaRTS Healthy Teeth Behaviour Change Programme for preventing dental caries in primary school
        children: study protocol for a cluster randomised controlled trial - Queen Mary University of London</li>
        <li>Evaluation of the Change4Life Sugar Smart Campaign – Newcastle University</li>
        <li>The FENLAND study - University of Cambridge, MRC Epidemiology Unit</li>
        <li>The NoHow study - EU Horizon 2020 project</li>
        <li>Many PhD and Undergraduate student projects including from; Abertay University, Newcastle University,
        Bristol University and Northumbria University.</li>
        <li>National Diet and Nutrition Survey (NDNS) – University of Cambridge</li>
      </ul>
    </div>
  </div>
{% endblock %}