{% extends "layout.njk" %}

{% block body %}
  <div class="row mb-5">
    <div class="col-md-8">
      <h2>Web application &amp; API server source code</h2>
      <p class="mt-4">The Intake24 web application and API server source code is open source hosted on
        <a href="https://github.com/MRC-Epid-it24/intake24" target="_blank">Github</a> and shared under
        <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache license</a>.
        </p>
      <p class="mt-4">The UK food database is available under the terms of the
        <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/open-government-licence/" target="_blank">
        Open Government Licence</a>.
      </p>
      <p class="mt-4">Contact us for further information: <a href="mailto:{{ site.support.email }}">{{ site.support.email }}</a>.</p>
      <hr class="my-4">
      <h2>External tools & libraries</h2>
      <h4 class="mt-4">Strich</h4>
      <div class="d-flex justify-content-between align-items-center">
        <div>
            Barcode scanning is powered by <a href="https://strich.io"  title="STRICH" target="_blank">strich.io</a>.
        </div>
        <div>
          <a href="https://strich.io" target="_blank" title="STRICH">
            <img width="128" height="32" alt="STRICH" src="/img/strich_light.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
