{% extends "layout.njk" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Publications</h2>
      <hr>
      <div class="my-4">
        <h4>Iterative Development of an Online Dietary Recall Tool: INTAKE24</h4>
        <p>
          <em>Nutrients</em>, 2017</p>
        <a href="/papers/Intake24-Development.pdf">Full text PDF</a>
      | <a href="http://www.mdpi.com/2072-6643/9/2/118" target="_blank">Journal page</a>
      </div>
      <div class="my-4">
        <h4>Comparison of INTAKE24 (an Online 24-h Dietary Recall
        Tool) with Interviewer-Led 24-h Recall in 11–24 Year-Olds</h4>
        <p>
          <em>Nutrients</em>, 2016</p>
        <a href="/papers/Intake24-Comparison.pdf">Full text PDF</a>
      | <a href="http://www.mdpi.com/2072-6643/8/6/358" target="_blank">Journal page</a>
      </div>
      <div class="my-4">
        <h4>Report on the Field testing the use of INTAKE24 in a sample of young people and adults living in Scotland</h4>
        <p>
          <em>Food Standards Scotland</em>, 2016</p>
        <a href="papers/INTAKE24_FINAL_REPORT.pdf">Full text PDF</a>
      | <a href="http://www.foodstandards.gov.scot/field-testing-use-intake24-sample-young-people-and-adults-living-scotland" target="_blank">
      FSS page</a>
      </div>
      <div class="my-4">
        <h4>Report on the comparison of INTAKE24 compared with the interviewer-led recall method</h4>
        <p>
          <em>Food Standards Agency</em>, 2014</p>
        <a href="/papers/Intake24-Comparison-report.pdf">Full text PDF</a>
      </div>
    </div>
  </div>
{% endblock %}