{% extends "layout.njk" %}

{% block body %}
  <div class="row">
    <div class="col-md-8">
      <h2>Publications</h2>
      <hr>
      <div class="my-4">
        <h4>Evaluation of changes in the dietary methodology in the National Diet and Nutrition Survey Rolling Programme from Year 12 (2019 to 2020) Stage 1</h4>
        <p><em>Public Health England/Food Standards Agency</em>, 2021</p>
        <a href="/papers/PHE_FSA_2021.pdf" target="_blank">Full text PDF</a>
        | <a href="https://www.gov.uk/government/publications/evaluation-of-change-in-dietary-methodology-in-ndns-rolling-programme-stage-1" target="_blank">Gov.UK page</a>
      </div>
      <div class="my-4">
        <h4>Validity and reliability of an online self-report 24-h dietary recall method (Intake24): a doubly labelled water study and repeated-measures analysis</h4>
        <p><em>Journal of Nutritional Science</em>, 2019</p>
        <a href="papers/Foster_JNC_2019.pdf" target="_blank">Full text PDF</a>
        | <a href="https://www.cambridge.org/core/journals/journal-of-nutritional-science/article/validity-and-reliability-of-an-online-selfreport-24h-dietary-recall-method-intake24-a-doubly-labelled-water-study-and-repeatedmeasures-analysis/3CB8BB3B415198218F7E6B9D5AB3DA84#" target="_blank">Journal page</a>
      </div>
      <div class="my-4">
        <h4>Iterative Development of an Online Dietary Recall Tool: INTAKE24</h4>
        <p><em>Nutrients</em>, 2017</p>
        <a href="/papers/Intake24-Development.pdf" target="_blank">Full text PDF</a>
        | <a href="http://www.mdpi.com/2072-6643/9/2/118" target="_blank">Journal page</a>
      </div>
      <div class="my-4">
        <h4>Comparison of INTAKE24 (an Online 24-h Dietary Recall
        Tool) with Interviewer-Led 24-h Recall in 11–24 Year-Olds</h4>
        <p><em>Nutrients</em>, 2016</p>
        <a href="/papers/Intake24-Comparison.pdf" target="_blank">Full text PDF</a>
        | <a href="http://www.mdpi.com/2072-6643/8/6/358" target="_blank">Journal page</a>
      </div>
      <div class="my-4">
        <h4>Report on the Field testing the use of INTAKE24 in a sample of young people and adults living in Scotland</h4>
        <p><em>Food Standards Scotland</em>, 2016</p>
        <a href="papers/INTAKE24_FINAL_REPORT.pdf" target="_blank">Full text PDF</a>
        | <a href="http://www.foodstandards.gov.scot/field-testing-use-intake24-sample-young-people-and-adults-living-scotland" target="_blank">FSS page</a>
      </div>
      <div class="my-4">
        <h4>Report on the comparison of INTAKE24 compared with the interviewer-led recall method</h4>
        <p><em>Food Standards Agency</em>, 2014</p>
        <a href="/papers/Intake24-Comparison-report.pdf">Full text PDF</a>
      </div>
    </div>
  </div>
{% endblock %}