{% extends "layout.njk" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Relative validation against interviewer-led multiple pass 24-hour recall</h2>
      <p>A comparison of Intake24 with interviewer-led multiple pass 24-hour recalls was conducted by Newcastle University
      in 180 people aged 11-24 years.</p>
      <p>Each participant completed both an Intake24 24-hour recall and an interviewer-led 24-hour recall on the same
      day on four occasions over a one month period.</p>
      <p>A weighted randomisation was used whereby 75% of participants completed Intake24 first, and 25% completed the
      interviewer-led recall first. Testing the online recall after completing the interviewer-led recall would be
      testing the system in a way in which it would never be used in practice. This method also ensures the best possible
      quality of interviewer-led recall; that is, a recall enhanced by having completed the online recall first.</p>
      <p>Asking a subsample to complete the interviewer-led recall first acts as a methodological check to estimate
      the impact of completing one method on the apparent accuracy of the other. The accuracy and precision of the mean
      daily energy and nutrient intakes reported in Intake24 were compared to those reported in the interviewer-led
      recall.</p>
      <p>Mean intakes reported using Intake24 were similar to the intakes reported in the interviewer-led recall for
      energy and the macronutrients. Intake24 was found to under-estimate energy intake by just 1% on average with the
      limits of agreement ranging from an under-estimate of 49% to an over-estimate of 92% compared with the
      interviewer-led recall. Mean intakes of all macronutrients and micronutrients (except non-milk extrinsic sugars)
      were within 4% of the interviewer-led recall. The results of the relative validation of Intake24 compare
      favourably, in terms of accuracy, with other validation studies of both computerised and face-to-face 24-hour
      recalls.</p>
      <p>Dietary assessment that utilises technology may offer a valid alternative and be more engaging than paper
      based methods, particularly for children and young adults.</p>
    </div>
  </div>
{% endblock %}