# Common vars
NODE_ENV=development
BASE_DIR=dist
BASE_URL=/
API_HOST=

# Node.js server vars
SERVER_NAME=Intake24 Survey Server
SERVER_URL=localhost
SERVER_PORT=3300
SERVER_STATIC=$BASE_DIR

SERVER_API_HOST=$API_HOST
SERVER_IMG_CDN=

# Vite build vars
OUTPUT_DIR=$BASE_DIR
EMPTY_OUT_DIR=true
PRODUCTION_SOURCE_MAP=false
DISABLE_PWA=false
LEGACY=false

# Vue.js dev server vars
DEV_HTTPS=false
VUE_DEV_TOOLS=false

# Vite public vars
VITE_APP_NAME=Intake24 Survey
VITE_APP_BASE_URL=$BASE_URL
VITE_APP_PREFIX=it24s_

VITE_API_HOST=$API_HOST
VITE_API_URL=api

# Captcha settings
VITE_CAPTCHA_PROVIDER=
VITE_CAPTCHA_SITEKEY=

# Services
VITE_GOOGLE_ANALYTICS_ID=
VITE_STRICH_KEY=

# WEB-PUSH settings
VITE_WEBPUSH_PUBLIC_KEY=

# Legal
VITE_LEGAL_HOME=https://intake24.org
VITE_LEGAL_COPYRIGHT=
VITE_LEGAL_PRIVACY=https://intake24.org/privacy
VITE_LEGAL_TERMS=https://intake24.org/terms
