<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <meta name="description" content="<%- title %>" />
    <link rel="icon" href="/icons/icon.ico" sizes="48x48" />
    <link rel="icon" href="/icons/icon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180x180.png" />
    <link rel="mask-icon" href="/icons/icon.svg" color="<%- themeColor %>" />
    <% if (typeof VITE_STRICH_KEY !== 'undefined' && VITE_STRICH_KEY) { %>
    <link rel="dns-prefetch" href="https://license.strich.io" />
    <% } %>
    <meta name="theme-color" content="<%- themeColor %>" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <%- captcha %>
  </body>
</html>
