<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '<%- gtmContainerId %>');
    </script>
    <!-- End Google Tag Manager -->
    <!-- MS Clarity -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = 'https://www.clarity.ms/tag/' + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, 'clarity', 'script', '<%- msClarityProjectId %>');
    </script>
    <!-- End MS Clarity -->
    <meta name="description" content="<%- title %>" />
    <link rel="icon" href="/icons/icon.ico" sizes="48x48" />
    <link rel="icon" href="/icons/icon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180x180.png" />
    <link rel="mask-icon" href="/icons/icon.svg" color="<%- themeColor %>" />
    <% if (typeof VITE_STRICH_KEY !== 'undefined' && VITE_STRICH_KEY) { %>
    <link rel="dns-prefetch" href="https://license.strich.io" />
    <% } %>
    <meta name="theme-color" content="<%- themeColor %>" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <%- captcha %>
  </body>
</html>
