// Vars
@import "vuetify/src/styles/styles.sass";
@import "variables";

// Libs
@import "fontawesome";

// Partials
@import "bottom-navigation";
@import "meal-list";
@import "print";

.v-application {
    p {
        margin-bottom: $spacer * 3;
    }
}

.border-secondary-1 {
    border: 1px solid $secondary !important;
}

.border-primary-2 {
    border: 2px solid $primary !important;
}

.border-info-2 {
    border: 2px solid $info !important;
}

.list__no-wrap {
    .v-list-item__title {
        white-space: initial !important;
    }
}

.list-item-border {
    border-bottom: 1px solid map-get($grey, "lighten-3");
}

// ConfirmDialog wrapped actions buttons
.v-card__actions {
    > .v-btn + .v-dialog__container + .v-btn {
        margin-left: 8px;
    }
}

@media #{map-get($display-breakpoints, 'sm-and-down')} {
    .iframe-container {
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

