@import "fontawesome";

// ConfirmDialog wrapped actions buttons
.v-card__actions {
    > .v-btn + .v-dialog__container + .v-btn {
        margin-left: 8px;
    }
}

@media print {
    @page {
        size: A4;
        margin: 15mm 10mm;
    }

    .v-application {
        background-color: #fff !important;

        .v-toolbar {
            display: none !important;
        }

        .v-navigation-drawer {
            display: none !important;
        }

        .v-main {
            padding: 0px !important;
        }
    }
}
