@use 'variables';

.navigation {
  &:not(:has(.v-btn)) {
    display: none !important;
  }
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 56px;
  z-index: 4;

  display: flex;
  gap: 0.375rem;
  width: 100%;

  &:not(:has(.bottom-navigation__actions .v-btn, .bottom-navigation__summary)) {
    display: none !important;
  }

  .bottom-navigation__summary {
    height: inherit;
    flex: 0 1 auto;
    display: flex;

    background-color: white;
    border-top-right-radius: 2rem;
    box-shadow:
      0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px rgba(0, 0, 0, 0.14),
      0 1px 10px rgba(0, 0, 0, 0.12);

    .v-btn {
      background-color: variables.$info;
      color: white;

      padding: 0 12px;
      width: 100%;
      border-top-right-radius: 2rem;
    }

    + .bottom-navigation__actions {
      border-top-left-radius: 2rem;
      .v-btn:first-of-type {
        border-top-left-radius: 2rem;
      }
    }
  }

  .bottom-navigation__actions {
    height: inherit;
    flex: 1 1 auto;
    display: flex;
    width: 100%;

    background-color: white;
    box-shadow:
      0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px rgba(0, 0, 0, 0.14),
      0 1px 10px rgba(0, 0, 0, 0.12);

    .v-btn {
      flex: 1 1 auto;
      padding: 0 4px;

      background-color: white;
    }
  }

  .v-btn {
    height: inherit !important;
    border-radius: 0;
    box-shadow: none;
    font-size: 0.75rem !important;

    .v-btn__content {
      height: inherit;
      flex-direction: column-reverse;

      > *:not(.v-icon) {
        line-height: 1.2;
      }
    }
  }
}
