$flag-icons-path: 'flag-icons/flags' !default;
$flag-icons-rect-path: '/4x3' !default;
$flag-icons-square-path: '/1x1' !default;
$flag-icons-use-square: false !default;

@import 'flag-icons/sass/flag-icons-base.scss';
@import 'flag-icons/sass/flag-icons-list.scss';

.fi-en {
  background-image: url(#{$flag-icons-path}#{$flag-icons-rect-path}/gb.svg);
}
