.meal-list__list {
  .selected {
    background: $ternary;
  }

  .selected-food {
    background: $ternary;
  }

  .v-list-group__header {
    padding-left: 12px !important;
  }

  .v-list-item:hover {
    background: $ternary;
  }

  .v-list-group--active
    > .v-list-group__header
    > .v-list-group__header__prepend-icon {
    margin-right: 6px;

    .v-icon {
      transform: rotate(180deg);
    }
  }

  .v-list-group__header__append-icon {
    display: none !important;
  }
}

.meal-list-mobile__sheet {
  max-height: 80% !important;
  box-shadow: unset !important;
}

.meal-list-mobile__card {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.meal-list-mobile__context {
  .v-btn .v-btn__content {
    display: flex !important;
    flex-direction: column !important;
  }
}
