.v-card ::v-deep .v-slide-group__next {
	display: none !important;
	flex: none;
}

.v-card ::v-deep .v-slide-group__prev  {
	display: none !important;
}

.v-card ::v-deep .v-slide-group__prev--disabled {
	display: none !important;
}

.v-card ::v-deep .add_button {
	background-color: #ff87376e;
}

/* Style the meal bar */
// .v-card ::v-deep .mealbar {
//   overflow: auto;
// }

/* Style the food bar */
.foodbar {
  overflow: auto;
}

.v-row ::v-deep .undoAlert {
	position: absolute;
	z-index: 10;
	top: 1rem;
	width: 80%;
	max-width:300px
}

.stickybottom {
  position: fixed;
  bottom: 56px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.sticky_toolbar {
	border-top: 1px solid #cecdcdde;
}

.meail_badge {
	position:relative;
	z-index:9;
}

.v-tab {
  font-size: x-small;
  font-weight: bold;
}

.v-tab ::v-deep p {
	margin-bottom: 3px;
  }

@media only screen and (max-width: 1264px) {
	.content {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	html {
		overflow: hidden !important;
	}
}

.scrollable {
	flex-grow: 1;
  overflow-y: auto;
}

 .v-card ::v-deep .v-tab{
	font-size: x-small;
	font-weight: bold;
}


