.v-card :deep(.v-slide-group__next) {
  display: none !important;
  flex: none;
}

.v-card :deep(.v-slide-group__prev) {
  display: none !important;
}

.v-card :deep(.v-slide-group__prev--disabled) {
  display: none !important;
}

.v-card :deep(.add_button) {
  background-color: #ff87376e;
}

/* Style the food bar */
.foodbar {
  overflow: auto;
}

.v-row :deep(.undoAlert) {
  position: absolute;
  z-index: 5;
  top: 1rem;
  width: 80%;
  max-width: 300px;
}

.stickybottom {
  position: fixed;
  bottom: 56px;
  left: 0;
  width: 100%;
  z-index: 4;
}

.alert {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: rgb(230, 186, 134);
}

.alert-text {
	color: rgb(105, 103, 103);
}

.sticky_toolbar {
  border-top: 1px solid #cecdcdde;
}

.v-tab {
  font-size: x-small;
  font-weight: bold;
}

.v-tab :deep(p) {
  margin-bottom: 3px;
}

.v-tab--active {
  background-color: bisque;
}

@media only screen and (max-width: 1264px) {
  .content {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  html {
    overflow: hidden !important;
  }
}

.scrollable {
  flex-grow: 1;
  overflow-y: auto;
}

.v-card :deep(.v-tab) {
  font-size: x-small;
  font-weight: bold;
}
