.quantity-slider__slider {
  padding-top: 60px;

  .v-slider-thumb__label-container {
    .v-slider-thumb__label {
      height: unset;
      background-color: $secondary;

      &::before {
        color: $secondary;
      }
    }
  }
}
