{% extends "layout.html" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>System features</h2>
      <ul>
        <li>Online 24-hour dietary recall system</li>
        <li>Iterative development by a four stage process of user interaction and refinement</li>
        <li>Based on the multiple pass 24-hour recall</li>
        <li>Database of more than 2500 foods</li>
        <li>Over 2500 portion size images which have been extensively validated in a feeding study and against 4-day
        weighed diaries</li>
        <li>Automatic coding to nutrient data</li>
        <li>UK food lists and nutrient databank aligned with the UK
        <a href="https://www.gov.uk/government/collections/national-diet-and-nutrition-survey" target="_blank">
        National Diet and Nutrition Survey (NDNS) Rolling Programme
        </a>
        </li>
        <li>Engaging and intuitive</li>
        <li>20-minute average completion time</li>
        <li>Custom search algorithms that are highly tolerant to spelling mistakes</li>
        <li>Extensive range of prompts for items commonly forgotten and consumed together</li>
        <li>Online access by desktop, laptop, tablet & mobile devices</li>
        <li>Fully customisable visual style (using CSS) allowing addition of study logos</li>
        <li>Simple integration of customised additional questions</li>
      </ul>

      <h2>Background</h2>
      <p>Intake24 is a self-completed computerised 24-hr dietary recall system. The system was originally developed
      by Newcastle University with funding from Food Standards Scotland developed for use with 11-24 year olds.</p>
      <p>The development of the system was an iterative process informed by 4 cycles of user testing. Interviewer-led
      24-hr recalls were conducted at the end of each round of testing to feed into the development of the system by
      identifying commonly missed foods and drinks.</p>
      <p>The system has been field tested with participants aged 11 years and over (including older adults).
      It is also being piloted in the Scottish Health Survey.</p>
      <p>From October 2019, Intake24 is being used as the dietary assessment method for the UK
      <a href="https://www.gov.uk/government/collections/national-diet-and-nutrition-survey" target="_blank">
        NDNS Rolling Programme
      </a>.
    </p>
      <h2>System design</h2>
      <p>The system is based on a multiple pass 24-hr recall and includes placeholders for various meals and snacks.
      These are displayed in chronological order, however, the user can choose to complete them in any order they wish.
      Each meal has a placeholder for drinks separately from foods in order to prompt people to remember this commonly
      forgotten element of intake. Foods are entered as free text in the ‘quick list’ phase of the recall and the user is
      then asked to match each food to a food in the database.</p>

      <p>Custom-designed algorithms ensure that the system deals effectively with the majority of misspelled items.</p>
      <p>All foods in the database are coded to the National Diet and Nutrition Survey Nutrient Databank. Once the
      food type has been selected the user is asked to estimate portion size.</p>

      <h2>Food photographs for estimation of portion size</h2>
      <p>The portion sizes depicted in the tool are based on the portion sizes recorded, for each food, by
      participants in the National Diet and Nutrition Surveys carried out in Great Britain. The default portion shown is
      the median portion and the size can be increased or decreased by clicking on the thumbnails or using the ‘I had
      less’ or ‘I had more’ buttons.</p>

      <h2>Prompts and reminders</h2>
      <p>The system includes an extensive range of prompts for items commonly consumed together, checks for low energy
      reports, missing drinks and long time gaps. A final summary asks the respondent to have a final check for any
      forgotten items before submitting the recall. Additional questions can be included to gather information such as
      the source of each item or meal, whether the TV was on etc. As well as collecting this additional information these
      questions may serve as a further prompt to think through the previous day and remember any items missed from the
      recall.</p>
    </div>
  </div>
{% endblock %}