{% import "mail/layouts/elements.njk" as elements %}

{% extends "mail/layouts/layout.njk" %}
{% block body %}
<p>Hello {{ name }},</p>
<p>We have received a request to activate new Intake24 account assosicated with {{ email }}.</p>
{% if uaInfo %}
  <p>Device info: {{ uaInfo }}.</p>
{% endif %}
<p>Please click the button below to verify email address and activate the account.</p>
{{ elements.button(action.url, action.text) }}
<p>If you did not request a new Intake24 account, please disregard this email.</p>
<p>This email verification link is only valid for the next {{ expiresIn }}.</p>
<p>
Kind regards,<br />
{{ app.name }} Team
</p>
{% endblock %}
