{% import "mail/layouts/elements.njk" as elements %}

{% extends "mail/layouts/layout.njk" %}
{% block preview %}
Reset your password
{% endblock %}

{% block body %}
<p>Hello {{ name }},</p>
<p>We have received a request to reset your password for the Intake24 account assosicated with {{ email }}.</p>
{% if uaInfo %}
  <p>Device info: {{ uaInfo }}.</p>
{% endif %}
<p>Please click the button below to reset your password.</p>
{{ elements.button(action.url, action.text) }}
<p>If you did not request a new password, please disregard this email.</p>
<p>This password reset link is only valid for the next {{ expiresIn }}.</p>
<p>
Kind regards,<br />
{{ app.name }} Team
</p>
{% endblock %}
