# Node environment
NODE_ENV=development

# Application settings
APP_NAME=Intake24
APP_HOST=localhost
APP_PORT=3100
APP_SECRET=

APP_HTTPS=false

APP_URL_BASE=http://localhost:3100
APP_URL_ADMIN=/admin
APP_URL_DOCS=/docs
APP_URL_SURVEY=/survey
APP_URL_IMAGES=http://localhost:3100/images

# Locales in this list will be included in the food search index
# Set to '*' to enable all locales, otherwise a JSON-formatted list 
# of locale IDs, e.g. ["en_GB", "ar_AE"]
APP_ENABLED_LOCALES = *

# ACL settings
ACL_CACHE_ENABLED=true
ACL_CACHE_EXPIRES_IN=7d

ACL_SIGNUP_ENABLED=true
ACL_SIGNUP_ROLES=researcher

# Cache settings
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_PREFIX=it24:cache:

# Database

# System database connection info
DB_DEV_SYSTEM_DRIVER=postgres
DB_DEV_SYSTEM_HOST=localhost
DB_DEV_SYSTEM_PORT=5432
DB_DEV_SYSTEM_DATABASE=intake24_system_dev
DB_DEV_SYSTEM_USERNAME=intake24
DB_DEV_SYSTEM_PASSWORD=
DB_DEV_SYSTEM_DEBUG_QUERY_LIMIT=

# Foods database connection info
DB_DEV_FOODS_DRIVER=postgres
DB_DEV_FOODS_HOST=localhost
DB_DEV_FOODS_PORT=5432
DB_DEV_FOODS_DATABASE=intake24_foods_dev
DB_DEV_FOODS_USERNAME=intake24
DB_DEV_FOODS_PASSWORD=
DB_DEV_FOODS_DEBUG_QUERY_LIMIT=

# Logging settings
LOG_LEVEL=debug
LOG_DIR=storage/logs

# Mail settings
MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=false
MAIL_IGNORE_TLS=true
MAIL_FROM_ADDRESS=no-reply@domain.com
MAIL_FROM_NAME=$APP_NAME

# Queue settings
QUEUE_REDIS_HOST=localhost
QUEUE_REDIS_PORT=6379
QUEUE_WORKERS=3

# Rate limitter settings
RATE_LIMITER_REDIS_HOST=localhost
RATE_LIMITER_REDIS_PORT=6379
RATE_LIMITER_REDIS_PREFIX=it24:rate-limiter:
RATE_LIMITER_GENERIC_WINDOW=5m
RATE_LIMITER_GENERIC_MAX=300
RATE_LIMITER_LOGIN_WINDOW=15m
RATE_LIMITER_LOGIN_MAX=5
RATE_LIMITER_PASSWORD_WINDOW=5m
RATE_LIMITER_PASSWORD_MAX=1
RATE_LIMITER_GEN_USER_WINDOW=5m
RATE_LIMITER_GEN_USER_MAX=1

# Security settings

# CORS settings (comma-delimited list)
CORS_ORIGIN=http://localhost:8100,http://localhost:8200

# Proxy settings (comma-delimited list)
PROXY=loopback

# JSON Web Token settings
JWT_ISSUER=intake24
JWT_ACCESS_SECRET=

JWT_ADMIN_ACCESS_LIFETIME=15m
JWT_ADMIN_REFRESH_SECRET=
JWT_ADMIN_REFRESH_LIFETIME=1d
JWT_ADMIN_COOKIE_SECURE=true

JWT_SURVEY_ACCESS_LIFETIME=15m
JWT_SURVEY_REFRESH_SECRET=
JWT_SURVEY_REFRESH_LIFETIME=1d
JWT_SURVEY_COOKIE_SECURE=true

# Multi-factor authentication

# DUO MFA provider settings
DUO_CLIENT_ID=
DUO_CLIENT_SECRET=
DUO_API_HOST=
DUO_REDIRECT_URL=http://localhost:3100/admin

# Session settings
SESSION_REDIS_HOST=localhost
SESSION_REDIS_PORT=6379
SESSION_REDIS_PREFIX=it24:session:
SESSION_COOKIE_SECURE=true

# Services

# Captcha settings
CAPTCHA_PROVIDER=
CAPTCHA_SECRET=

# WEB-PUSH settings
WEBPUSH_SUBJECT=mailto:example@domain.com
WEBPUSH_PUBLIC_KEY=
WEBPUSH_PRIVATE_KEY=
