# Node environment
NODE_ENV=development

# Application settings
APP_NAME=Intake24
APP_HOST=localhost
APP_PORT=3100
APP_SECRET=

APP_URL_BASE=http://localhost:3100
APP_URL_ADMIN=/admin
APP_URL_DOCS=/docs
APP_URL_SURVEY=/survey
APP_URL_IMAGES=http://localhost:3100/images

# ACL settings
ACL_CACHE_ENABLED=true
ACL_CACHE_EXPIRES_IN=7d

# Cache settings
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_PREFIX=it24:cache:

# Database

# System database connection info
DB_SYSTEM_DRIVER=postgres
DB_SYSTEM_HOST=localhost
DB_SYSTEM_PORT=5432
DB_SYSTEM_DATABASE=intake24_system
DB_SYSTEM_USERNAME=intake24
DB_SYSTEM_PASSWORD=

# Foods database connection info
DB_FOODS_DRIVER=postgres
DB_FOODS_HOST=localhost
DB_FOODS_PORT=5432
DB_FOODS_DATABASE=intake24_foods
DB_FOODS_USERNAME=intake24
DB_FOODS_PASSWORD=

# Logging settings
LOG_LEVEL=debug

# Mail settings
MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=false
MAIL_IGNORE_TLS=true
MAIL_FROM_ADDRESS=example@domain.com
MAIL_FROM_NAME=$APP_NAME

# Queue settings
QUEUE_REDIS_HOST=localhost
QUEUE_REDIS_PORT=6379
QUEUE_WORKERS=3

# Security settings

# CORS settings (comma-delimited list)
CORS_ORIGIN=http://localhost:8100,http://localhost:8200

# Proxy settings (comma-delimited list)
PROXY=loopback

# JSON Web Token settings
JWT_ACCESS_SECRET=
JWT_ACCESS_LIFETIME=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_LIFETIME=1d
JWT_COOKIE_PATH=/api/auth
JWT_COOKIE_SAMESITE=
JWT_COOKIE_SECURE=true

# Multi-factor authentication
MFA_ENABLED=false
MFA_PROVIDER=duo

# DUO MFA provider settings
DUO_IKEY=
DUO_SKEY=
DUO_AKEY=
DUO_HOST=

# Session settings
SESSION_REDIS_HOST=localhost
SESSION_REDIS_PORT=6379
SESSION_REDIS_PREFIX=it24:session:

# Services

# Recaptcha settings
RECAPTCHA_ENABLED=false
RECAPTCHA_SECRET=

# WEB-PUSH settings
WEBPUSH_SUBJECT=mailto:example@domain.com
WEBPUSH_PUBLIC_KEY=
WEBPUSH_PRIVATE_KEY=
